body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 5%; /* Reduced from 10% */
}

.App-link {
  color: #61dafb;
}

.input-group {
  display: flex;
  flex-direction: column; /* Changed from row */
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

input {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px; /* Added to separate from the button */
}

button {
  width: 200px;
  height: 30px;
  background-color: #237086;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #4baad4;
}

.generated-image {
  text-align: center;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7), 0px 6px 6px rgba(0, 0, 0, 0.23);
  max-width: 100%; /* Added to make the image responsive */
  height: auto; /* Added to make the image responsive */
  
}

.download-button {
  border-radius: 15px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: black;
  opacity: .7;
}

.spinner {
  margin: 100px auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {

  .image-container img {
   /* padding-right: 5px; */
   height: 400px;
   width: 350px;
    
  }

  
}